<% content_for :head do %>
		<%= head_title("#{@page.title} | #{$title}") %>
		<%= description(@page.meta_description) %>
		<%= cannonical_link("#{$domain}/page/#{@page.permalink}") %>
<% end %>
<div class="cont_panel">
	<div class="cont"><%= @page.name %></div>
	<div class="superfullredline"></div>
	<%= raw @page.content %>
</div>