<% javascript '/djs/sortable_list' %>

<%= render(partial: 'search') %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default tab-content">
      <div class="panel-heading">
        Issue  <%= @issue.number %> - Category <%= @category.name %>
      </div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody class="js-sortable-list" data-url="<%= sorter_admin_orderings_path(params:{ what: 'category' }) %>">
            <% @orderings.each do |title, id| %>
              <tr id="position_<%= id %>">
                <td><%= id %></td>
                <td><%= title %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
