<%= content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $( "#issue_date" ).datepicker({ changeYear: true, changeMonth: true, dateFormat: "yy-mm-dd"});
    });
  </script>
<% end %>

<div class="panel-body">
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: '/admin/partials/alerts', locals: { record: @issue } %>

      <%= form_for [:admin,@issue], html: { multipart: true, role: 'form' } do |f| %>
        <div class="row">
          <div class="form-group col-lg-6">
            <%= f.label :number %>
            <%= f.text_field :number, class: 'form-control' %>
          </div>

          <div class="form-group col-lg-6">
            <%= f.label :date %>
            <%= f.text_field :date, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-6">
            <%= f.label :cover %>
            <%= f.file_field :cover %>
          </div>

          <div class="form-group col-lg-6">
            <%= f.label :pdf %>
            <%= f.file_field :pdf %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-6">
            <%= f.submit nil, class: 'btn btn-primary' %>
          </div>

          <div class="form-group col-lg-6">
            <%= f.select :published, [["public", true], ["hidden", false]], {}, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
