<%= content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      CKEDITOR.config.language = 'el';
      CKEDITOR.config.entities_greek = false ;
      CKEDITOR.entities_latin = false;
      CKEDITOR.autoParagraph = false;
    });
  </script>
<% end %>
<%= content_for :scripts do %>
  <script type="text/javascript">
  $(document).ready(function() {
    $( "#article_date" ).datepicker({ changeYear: true, changeMonth: true, dateFormat: "yy-mm-dd"});
  });
  </script>
<% end %>
<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      new CategorySelector({default_option: <%= @article.category_id || 'null' %>});
    });
  </script>
<% end %>
<div class="panel-body">
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: '/admin/partials/alerts', locals: { record: @article } %>

      <%= form_for [:admin,@article], html: { multipart: true, role: "form" } do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :hypertitle %>
          <%= f.text_field :hypertitle, class: 'form-control' %>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <%= f.label :date %>
              <%= f.text_field :date, class: 'form-control' %>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <%= f.label :author %>
              <%= f.text_field :author, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <%= label_tag :year %>
              <%= select_tag :year, options_for_select(@years), class: "form-control" %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <%= label_tag :month %>
              <%= select_tag :month, options_for_select("01".."12"), class: "form-control" %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <%= f.label :issue_id, "Issue" %>
              <%= f.select :issue_id, [], {}, class: "form-control js-issue-selector" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :category_id %>
          <%= f.select :category_id, [], {}, { class: 'form-control js-category-selector' } %>
        </div>

        <div class="form-group">
          <%= f.cktext_area :html, toolbar: 'Easy' %>
        </div>

        <div class="form-group">
          <%= f.label :tag_names %>
          <%= f.text_field :tag_names, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :photo %>
          <%= f.file_field :photo %>
        </div>

        <div class="row">
          <%= f.hidden_field :preview, value: "0" %>
          <div class="form-group col-lg-6">
            <%= f.submit onclick: "this.form.removeAttribute('target');$('input#page_preview').val('0');", class: "btn btn-primary" %>
            <%= f.submit "Preview", onclick: "this.form.target='_blank';$('input#page_preview').val('1');", class: "btn btn-default" %>
          </div>
          <div class="form-group col-lg-6">
            <%= f.select :published, [["public", true], ["hidden", false]], {}, class: "form-control " %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
