<!--#########main column##############-->
<div class = "main_col">
<%
i=0
left=""
right=""
 %>
<% cache @issue.id.to_s+"-"+@article[0].category_id.to_s+'#home_cat' do %>
<% @article.each do |article| %>

	<% if i==0 %>
	<% i=1 %>
	<div class = "main_panel">

		<div class = "full_redline"></div>

		<div class="headart">
			<h3>
				<%= link_to  (raw article.category.name)+image_tag("base/pointer.gif"), cat_link(article) %>
			</h3>
			<% if !article.hypertitle.nil? %>
			<h2>
			<%= (article.hypertitle) %>
			</h2>
			<% end %>
			<h1>
				<%= link_to article.title, article.linker.permalink, :class => "art_title" %>
			</h1>
		</div>
		<% if article.photo_file_name %>
		<div class = "main_panel_img">
			<%= link_to image_tag((raw article.photo.url(:medium)), :border => 0),(raw article.photo.url), :id => "single" %>
		</div>
		<% end %>
		<div class = "article">
			<%= summarize(article.html) %>
		</div>
		<div class = "complete_article">
			<%= (link_to  "Πλήρες άρθρο...", article.linker.permalink) %>
		</div>

		<div class = "full_redline"></div>

	</div>
	<% elsif i==1 %>
		<%
		i=2
		left+="<div class = 'half_main_panel_left'>
								<div class=\"headart\">
									<h3>
										"+(link_to  (raw article.category.name)+image_tag("base/pointer.gif"), "/"+article.category.permalink)+"
									</h3>" %>
		<% if !article.hypertitle.nil? %>
		<%	left+="		<h2>
										"+(article.hypertitle)+"
									</h2>" %>
		<% end %>
		<% left+="     <h1>
										"+(link_to article.title, article.linker.permalink , :class => "art_title")+"
									</h1>
								</div>
	              <div class = 'article'>
									"+summarize(article.html)+"
								</div>
								<div class = 'complete_article'>
									"+(link_to  "Πλήρες άρθρο...", article.linker.permalink)+"
								</div>
					</div>
					<div class = \"half_redline\"></div>" %>
	<% else %>
		<%
		i=1
		right+="<div class = 'half_main_panel_right'>
								<div class=\"headart\">
									<h3>
										"+(link_to  (raw article.category.name)+image_tag("base/pointer.gif"), "/"+article.category.permalink)+"
									</h3>" %>
		<% if !article.hypertitle.nil? %>
		<%	right+="		<h2>
										"+(article.hypertitle)+"
									</h2>" %>
		<% end %>
		<% right+="     <h1>
										"+(link_to article.title, article.linker.permalink, :class => "art_title")+"
									</h1>
								</div>
	              <div class = 'article'>
									"+summarize(article.html)+"
								</div>
								<div class = 'complete_article'>
									"+(link_to  "Πλήρες άρθρο...", article.linker.permalink)+"
								</div>
					</div>
					<div class = \"half_redline\"></div>" %>
	<% end %>

<% end %>

	<%#= pagerz("tade", @article.current_page, @article.page_count) %>

			<div class = "half_main_left">
				<%= raw left %>
			</div>



			<div class = "half_main_right">
				<%= raw right %>
			</div>
	</div>
<% end %>

