<% content_for :head do %>
	<% cache 'article-head#'+@article.id.to_s do %>
		<%= head_title("#{@article.title} | #{@article.category_name} | #{$title}") %>
		<%= keywords(@article.tag_names) %>
		<%= description(@article.html.summarize) %>
		<% issue_number = @article.issue_id.nil? ? "" : "issue_#{@issue.number.to_s}" %>
		<%= cannonical_link("#{$domain}/#{issue_number}/#{@article.category_permalink}/#{@article.id}-#{@article.prettify_permalink}") %>
	<% end %>
<% end %>
<% cache 'article#'+@article.id.to_s do %>
<div class = "main_col">
	<div class = "main_panel">

		<div class = "full_redline"></div>
		<div class="headart">
			<h3>
				<%= link_to (raw @article.category_name)+image_tag("base/pointer.gif"), cat_link(@article) %>
			</h3>
			<% if !@article.hypertitle.nil? %>
			<h2>
				<%= raw @article.hypertitle %>
			</h2>
			<% end %>
			<h1>
				<%= raw @article.title %>
			</h1>
		</div>
		<% if @article.photo_file_name %>
		<div class = "art_main_panel_img">
			<%= link_to image_tag((raw @article.photo.url(:small)), :border => 0),(raw @article.photo.url), :id => "single" %>
		</div>
		<% end %>
		<div class = 'art_article'>
			<%= raw @article.html %>
		</div>
		<div class = 'art_date'>
			<%= raw I18n.l(@article.date, :format=> "%A  %d %b %Y")  %>
		</div>
		<div class = 'full_redline'></div>

	</div>

</div>
<% end %>

