<% content_for :head do %>
	<% cache 'page-head#'+@page.id.to_s do %>
		<%= head_title("#{@page.title} | #{$title}") %>
		<%= description(@page.meta_description) %>
		<%= cannonical_link("#{$domain}/page/#{@page.permalink}") %>
	<% end %>
<% end %>
<% cache 'page#'+@page.id.to_s do %>
	<div class="cont_panel">
		<div class="cont"><%= @page.name %></div>
		<div class="superfullredline"></div>
		<%= raw @page.content %>
	</div>
<% end %>