<% content_for :scripts do %>
  <script type="text/javascript">
    $('a[href^="#tab_"]:first').tab('show');
  </script>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs">
      <% @block_placements.each do |placement| %>
        <li>
          <%= link_to placement.capitalize, "\#tab_#{placement}",
                      data: { toggle: "tab" } %>
        </li>
      <% end %>
    </ul>

    <div class="panel panel-default tab-content">
      <div class="panel-heading">
        Block Manager
      </div>

      <% @group_blocks.each do |placement, blocks| %>
        <div class="panel-body tab-pane fade" role="tabpanel" id="tab_<%= placement %>">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Mode</th>
                  <th colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody class="js-sortable-list" data-url="<%= sorter_admin_blocks_path(params:{ place: placement }) %>">
                <% blocks.each do |block| %>
                  <tr id="position_<%= block.id %>">
                    <td><%= block.id %></td>
                    <td><%= block.name %></td>
                    <td><%= block.mode %></td>
                    <td>
                      <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_admin_block_path(block) %>
                    </td>
                    <td>
                      <%= link_to "<i class='fa fa-trash'></i>".html_safe, [:admin,block],
                        data: { confirm: 'Are you sure?' }, method: :delete %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
