<div class = "side_panel">
  <div class = "title">
		<%= @block.name %>
	</div>
  <div class = "side_blackline_4px"></div>

	<div class = "stiles">
	  <% left_nav = Navigator.list(@block.id) %>
		<% left_nav.each do |navigator|%>
       <% if navigator.navigatable_type == "Category" &&  navigator.navigatable.issued == true %>
          <li><%= (link_to navigator.name, "/"+@iss.to_s+"/"+(raw navigator.navigatable.permalink)) %></li>
        <% elsif navigator.navigatable_type == "Category" &&  navigator.navigatable.issued == false %>
          <li><%=link_to navigator.name, "/"+(raw navigator.navigatable.permalink) %></li>
        <% elsif navigator.navigatable_type == "Block" %>
          <li><%= link_to navigator.name, "/"+(raw navigator.navigatable.name) %></li>
        <% elsif navigator.navigatable_type == "Article" %>
          <li><%= link_to navigator.name, (raw navigator.navigatable.linker_permalink) %></li>
        <% end %>
		<% end %>
	</div>

</div>

