<!doctype html>
<% re = re = /(?<img><img .*? \/>)/ %>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= raw @article.title %></title>
  <%= stylesheet_link_tag 'mobile', :media => 'all' %>
  <%= csrf_meta_tag %>
</head>
<body>
<wrapper>
  <h3><%= raw @article.title %></h3>
  <content><%= raw @article.html.gsub re, '<div class="image">\k<img></div>' %></content>
</wrapper>
</body>
</html>

