<% content_for :scripts do %>
  <script type="text/javascript">
    $('a[href^="#tab_"]:first').tab('show');
  </script>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs">
      <% @group_navigators.keys.each do |name| %>
        <li>
          <%= link_to name.capitalize, "\#tab_#{name.gsub(' ', '_')}",
                      data: { toggle: "tab" } %>
        </li>
      <% end %>
    </ul>

    <div class="panel panel-default tab-content">
      <div class="panel-heading">
        Navigator Manager
      </div>

      <% @group_navigators.each do |block_name, navigators| %>
        <div class="panel-body tab-pane fade" role="tabpanel" id="tab_<%= block_name.gsub(' ', '_') %>">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody class="js-sortable-list" data-url="<%= sorter_admin_navigators_path(params:{ block_id: navigators.first.block_id }) %>">
                <% navigators.each do |navigator| %>
                  <tr id="position_<%= navigator.id %>">
                    <td><%= navigator.id %></td>
                    <td><%= navigator.name %></td>
                    <td>
                      <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_admin_navigator_path(navigator) %>
                    </td>
                    <td>
                      <%= link_to "<i class='fa fa-trash'></i>".html_safe, [:admin,navigator],
                        data: { confirm: 'Are you sure?' }, method: :delete %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
