<% if @category.errors.any? %>
    <h4 class="alert_warning"> Παρουσιαστηκαν τα εξείς λάθοι:
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </h4>
<% end %>

<%= form_for [:admin,@category] do |f| %>
<div class="module_content">
  <%= field_set_tag do %>
    <%= f.label :name %>
     <%= f.text_field :name %>
   <% end %>


 <div class="clear"></div>
</div>
<footer>
  <div class="submit_link">
    <%= f.select :issued, [["issued", true], ["not issued", false]] %>
    <%= f.submit %>
  </div>
</footer>
<% end %>

