<% if params[:ni_page].present? %>
  <% content_for :scripts do %>
    <script type="text/javascript">
      $('a[href="#non_issued_categories"]').tab('show');
    </script>
  <% end %>
<% end %>

<div class="col-lg-12">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#issued_categories" data-toggle="tab">Issued</a></li>
    <li><a href="#non_issued_categories" data-toggle="tab">Non Issued</a></li>
  </ul>

  <div class="panel panel-default tab-content">
    <div class="panel-heading">
      Category Manager
    </div>

    <div class="panel-body tab-pane fade active in" role="tabpanel" id="issued_categories">
      <div class="text-right">
        <%= paginate @category %>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Permalink</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @category.each do |category| %>
              <tr>
                <td><%= category.id %></td>
                <td><%= category.name %></td>
                <td><%= category.permalink %></td>
                <td>
                  <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_admin_category_path(category) %>
                </td>
                <td>
                  <%= link_to "<i class='fa fa-trash'></i>".html_safe, [:admin,category],
                    data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="text-right">
        <%= paginate @category %>
      </div>
    </div>

    <div class="panel-body tab-pane fade" role="tabpanel" id="non_issued_categories">
      <div class="text-right">
        <%= paginate @nonis_category, param_name: 'ni_page' %>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Permalink</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @nonis_category.each do |category| %>
              <tr>
                <td><%= category.id %></td>
                <td><%= category.name %></td>
                <td><%= category.permalink %></td>
                <td>
                  <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_admin_category_path(category) %>
                </td>
                <td>
                  <%= link_to "<i class='fa fa-trash'></i>".html_safe, [:admin,category],
                    data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="text-right">
        <%= paginate @nonis_category, param_name: 'ni_page' %>
      </div>
    </div>
  </div>
</div>
