
<% content_for :head do %>
  <% cache [@category, :category_head] do %>
    <%= head_title("#{@category.name} | #{$title}") %>
    <%= keywords(@category.name.gsub(" ", ", ")) %>
    <%= cannonical_link("#{$domain}/#{@category.permalink}") %>
  <% end %>
<% end %>
<% cache [@category, :category, :page, params[:page]] do %>
  <div id="main-content">
    <% @articles.each do |article| %>
      <div id="article" class="hovered" onclick="location.href='<%= article_canonical_path(article) %>'">
        <% if !article.hypertitle.nil? and !article.hypertitle.empty? %>
          <h2 class="article">
             <%= raw article.hypertitle %>
           </h2>
        <% end %>
        <h1 class="article">
          <%= raw article.title %>
        </h1>
        <div id="article-content">
          <%= (link_to image_tag((raw article.photo.url(:small)), :id => "article-image"),(raw article.photo.url), :id => "single") unless article.photo_file_name.nil? %>
            <%= raw article.html.summarize %>
        </div>
        <div id="tags">
          <%= image_tag "demo/tags.png" %>
          Tags: <%= article.tag_names %>
        </div>
        <div id="moar">
          read more
        </div>
      </div>
    <% end %>
    <div class="pager">
      <%= paginate @articles %>
    </div>
  </div>
<% end %>

