<% javascript '/djs/dynamic_dates_pub' %>

<% if @setting.errors.any? %>
  <h4 class="alert_warning"> Παρουσιαστηκαν τα εξείς λάθοι:
    <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </h4>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Current Issue:
        <b>
          <% if @issue.present? %>
            <%= @issue.number %>
          <% else %>
            Not setted
          <% end %>
        </b>
      </div>

      <div class="panel-body">
        <div class="row">
          <%= form_for [:admin,@setting] do |f| %>
            <div class="col-lg-4">
              <div class="form-group">
                <%= label_tag :year %>
                <%= select_tag :year, options_for_select(@years), class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= label_tag :month %>
                <%= select_tag :month, options_for_select("01".."12"), class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= f.label :meta_value, "Issue" %>
                <%= f.select :meta_value, [], {}, class: "form-control", id: "article_issue_id" %>
              </div>
            </div>

            <div class="col-lg-12">
              <%= f.button "Set Issue", type: :submit, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
