<% content_for :head do %>
  <% cache 'page-head#'+@page.id.to_s do %>
    <%= head_title("#{@page.title} | #{$title}") %>
    <%= description(@page.meta_description) %>
    <%= cannonical_link("#{$domain}/page/#{@page.permalink}") %>
  <% end %>
<% end %>
<% cache 'page#'+@page.id.to_s do %>
  <div id="main-content">
    <div id="article">
      <h1 class="article"><%= @page.name %></h1>
      <%= raw @page.content %>
    </div>
  </div>
<% end %>