<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="el" xml:lang="el" xmlns="http://www.w3.org/1999/xhtml">


<head>
<title><%= yield(:title) %>Κόντρα</title>

<%= stylesheet_link_tag 'base/stylesheet', 'base/jquery-ui', :media => 'all' %>
<%= stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4", :media => 'all' %>
<%#= javascript_include_tag :defaults , :cache => 'cache/all2' %>
<script>
	!window.jQuery && document.write('<script src="/javascripts/jquery.min.js"><\/script>');
</script>
<%= javascript_include_tag "jquery-ui.min"  %>
<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack", "fancybox/jquery.mousewheel-3.0.4.pack"  %>
<%= csrf_meta_tag %>
<%= yield(:head) %>
<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#single").fancybox({
				'overlayShow'	: false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});

			$("a[rel=album]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});
		});
	</script>
</head>

<body>
<div class = "site-wrapper">
<!--###########-----header-----###########-->
	<div class = "header-wrapper">

		<div class = "logo">
			<%= link_to image_tag("base/logo.gif", :border => 0), "/" %>
		</div>


		<div class = "header_right">
			<div class = "datetime">
				<%= I18n.l(Time.now, :format=> "%A  %d %b %Y") %>
			</div>
			<div class = "search">
			    <div class ="searchwrap">
          <%= form_tag search_path, :method => :get do %>
            <%= text_field_tag :search, params[:search], {:class => "texta", :id => "texta"} %>
            <%= submit_tag "Search", { :class => "sbutton", :type => "image", :src =>"/images/base/search_icon.gif"} %>
          <% end %>
			    </div>
			</div>
			<div class = "sredline_4px"> </div>
		</div>

    <%= render 'blocks/top' %>

	<div class = "blackline_4px"> </div>



</div>


<!--###########-----body-----###########-->
	<div class = "body-wrapper">

	<%= yield %>

  </div>
<!--###########-----footer-----###########-->

    <div class = "footer-wrapper">

			<div class = "red_footer"></div>

			<div class = "footer_home">
				<%= link_to image_tag("base/footer_home.gif", :border => 0), "/"+@iss.to_s %>
			</div>

			<div class = "footer_red_menu">
				<%= link_to "miza", "/a/das" %>
				<%= link_to "miza", "/a/das" %>
				<%= link_to "miza", "/a/das" %>
				<%= link_to "miza", "/a/das" %>
			</div>

			<div class = "footer_black_menu">

				<%= link_to "miza", "/a/das" %>
				<%= link_to "miza", "/a/das" %>
				<%= link_to "miza", "/a/das" %>
				<%= link_to "miza", "/a/das" %>

			</div>




	</div>

</div>

</body>
</html>

