<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="el" xml:lang="el" xmlns="http://www.w3.org/1999/xhtml">


<head>
	<%= stylesheet_link_tag 'base/all', :media => 'all' %>
	<%= yield(:head) %>
	<%= csrf_meta_tag %>
</head>

<body>
<div class = "site-wrapper">
<!--###########-----header-----###########-->
	<div class = "header-wrapper">

		<div class = "logo">
			<%= link_to image_tag("base/logo.gif", :border => 0), "/" %>
		</div>


		<div class = "header_right">
			<div class = "datetime">
				<%= I18n.l(Time.now, :format=> "%A  %d %b %Y") %>
			</div>
			<div class = "search">
			    <div class ="searchwrap">
	          <%= search_form_for Article.search(params[:q]), :url => search_path do |f| %>
							<%= f.text_field :title_or_html_cont, { :value => "Search", :onfocus => "if(!this._haschanged){this.value=''};this._haschanged=true;", :class => "texta", :id => "texta" }%>
							<%= f.submit "Search", { :class => "sbutton", :type => "image", :src =>"/assets/base/search_icon.gif"} %>
						<% end %>
			    </div>
			</div>
			<div class = "sredline_4px"> </div>
		</div>

    <%= block "top" %>

		<div class = "blackline_4px"> </div>
	</div>


<!--###########-----body-----###########-->
	<div class = "body-wrapper">

		<%= yield %>

  </div>
<!--###########-----footer-----###########-->

  <div class = "footer-wrapper">

		<div class = "red_footer"></div>

		<div class = "footer_home">
			<%= link_to image_tag("base/footer_home.gif", :border => 0), "/issue_"+@issue.number.to_s %>
		</div>

		<%= block "bottom" %>

	</div>

</div>



<%= javascript_include_tag "all" %>
<script type="text/javascript">
	$(document).ready(function() {
	
		$("a#single").fancybox({
			'overlayShow'	: false,
			'transitionIn'	: 'elastic',
			'transitionOut'	: 'elastic'
		});

		$("a[rel=album]").fancybox({
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'titlePosition' 	: 'over',
			'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
				return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
			}
		});
	});
</script>
<%= yield(:scripts) %>
<script type="text/javascript">
  	$(document).ready(function()
      {
        $('a').each(function() {
          $(this).attr("href", function(index, old) {
          	try
   					{
            	return old.replace("[lp#issue_number]", "<%= @issue.number %>");
            }
            catch(err){}
          });
        });
        $('a[href$="<%= CGI::unescape(@url.strip.gsub(/[\']|[\`]|[\"]/,"")) unless @url.nil? %>"]:first').attr("id", "activated");
      }
  	);
 </script>
</body>
</html>

